{% extends 'base.html' %}
{% load static %}
{% block content %}
<body class="form">
    <div class="big-img">
        <div class="caption">
            <span class="border">About me</span>
        </div>
    </div>

    <div class="interrupt">
        <h2>Who am I?</h2>
        <p>I am a 6-foot-3 guard. I led all rookies in scoring at 20.5 points per game, and he was named Western Conference Rookie of the Month for December, January, February and March/April. 
            The Denver Nuggets selected me with the No. 13 overall pick in the 2017 NBA Draft—and then immediately traded me to the Utah Jazz.</p> 
            <p>I won the 2018 NBA Slam Dunk Contest, and finished second in Rookie of the Year voting. I am a 3x NBA All-Star. I have led my team to the
                NBA playoffs every season I've played. My jersey number is 45, which I wears in honor of Michael Jordan, who wore the number while playing 
                baseball and when he first returned to the NBA in 1995.</p>
    </div>

    <div class="big-img2">
        <div class="caption">
            <span class="border2">I am Spida-Mitchell</span>
        </div>
    </div>


</body>
</html>

{% endblock %}