{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
<body class="home">
  <div class="hero">
    <div class="video-background">
      <div class="video-foreground">
        <div id="player"></div>
      </div>
    </div>
    <div class="hero-text">
      <h1>Donovan <span>Mitchell</span></h1>
      <p>Greatest player and photographer</p>
    </div>
  </div>
  <div class="flex-center-bottom">
    <div class="flex-item-center">
      <button class="mute" onclick="toggleMute()">Unmute</button>
    </div>
  </div>
    
        <!-- <picture>
            <source srcset="images/hero-1600.jpg" media="(min-width: 901px)">
            <source srcset="images/hero-900.jpg" media="(min-width: 601px)">
            <source srcset="images/hero-600.jpg" media="(max-width: 600px)">
            <img src="images/hero-900.jpg" alt="looking into the distance">
        </picture> -->
    {% include 'partials/nav.html' %}
    <section>
      <h2 class="hidden">section 1</h2>
        <article class="panel">
            <div class="image-wrapper"><img src="{% static 'img/shoe.webp' %}" alt="donny's shoe"></div>
            <div class="text-wrapper">
              <h2>Why go with me?</h2>
                <p>Have you ever had your pictures taken by an NBA player? Especially one as attractive as me? 
                    Didn't think so. With every booked session with me, you will receive a free pair of signed DON ISSUE #3 shoes. 
                    Now that's a deal!</p>

                    <a class="button" href="https://www.adidas.com/us/donovan_mitchell?af_channel=Search&af_click_lookback=30d&af_reengagement_window=30d&c=Basketball-SB-Exact-2&cm_mmc=AdieSEM_Google-_-Basketball-SB-Exact-2-_-Shoes-DON_Issue_3-X-General-_-43700065080089745&cm_mmca1=US&cm_mmca2=&ds_agid=58700007253394890&gclid=Cj0KCQjwxtSSBhDYARIsAEn0thSlOQt5h6eopsxuZs0N176sw2kP854-dZvRbNLBlCvLxSzH-d61p2AaAgSPEALw_wcB&gclsrc=aw.ds&is_retargeting=true&pid=googleadwords_temp"
                     target="_blank"> Buy My Shoe</a>
            </div>
        </article>
      </section>

        <aside>
            <blockquote>Determination Over Negativity is a belief that anything
               is possible no matter who you are or where you come from.</blockquote>
            <p>&ndash; Donovan Mitchell</p>
          </aside>

          <section>
            <h2 class="hidden">section 2</h2>
          <div class="cards">
            <div class="card">
              <a>
                <img src="{% static 'img/hoop.jpg' %}" width="400" height="400"
                  alt="basketball hoop">
                <p class="overlay">
                  My Dinner
                </p>
              </a>
            </div>
            <div class="card">
              <a>
                <img src="{% static 'img/palms.jpg' %}" width="400" height="400"
                  alt="hoop in the palms">
                <p class="overlay">
                  My Paradise
                </p>
              </a>
            </div>
            <div class="card">
              <a>
                <img src="{% static 'img/courtgray.jpg' %}" width="400" height="400"
                  alt="street ball">
                <p class="overlay">
                  My Playground
                </p>
              </a>
            </div>
            <div class="card">
              <a>
                <img src="{% static 'img/stadium.jpg' %}" width="400" height="400"
                  alt="stadium">
                <p class="overlay">
                  My Home
                </p>
              </a>
            </div>
          </div>

          <article>
            <h2>My Mission</h2>
            <p>Many people know me as the star guard of the Utah Jazz. What people don't know is my strong passion for photography.
               I started last week when I saw the most beautiful picture.
            </p>
      
            <p>Despite what I may be doing, one thing is always true: Determination Over Negativity.
            </p>
    
            <a class="button" href="{% url 'about' %}">Learn More</a>
          </article>

        </section>
      </br>
</body>

</html>
{% endblock %}