<div class="main-menu">
    <div class="menu-icon">
        <svg viewbox="0 0 60 60" width="60px" height="60px">
            <line x1="5%" y1="50%" x2="95%" y2="50%" />
            <line x1="5%" y1="50%" x2="95%" y2="50%" />
        </svg>
    </div>

    <nav class="about-nav">
        <h2 class="hidden">Main Menu</h2>
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'form' %}">Form</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
        </ul>
    </nav>
</div>